<!-- Interaction Layers -->
<div class="module positionAbsolute positionCenter easing"
	 ng:class="{
				   	'slide1' : slide1,
				   	'slide2' : slide2,
				   	'slide3' : slide3,
				   	'slide4' : slide4
				}"
	ng-init="slide1 = true"
				>

	<!-- Responsive -->
	<div class="fluid backgroundOpacityBlue leftSlide heightFull widthHalf floatLeft">

		<!-- Slide 1 -->
		<div ng:show="slide1" class="spacedLarge">
				<div class="spacedLarge">

						<!-- Card component -->
						<div ng-click="slide1 = true; slide2 = false; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 1
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 1
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = true; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 1
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 2
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>


						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = true; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 1
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 3
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = false; slide4 = true" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 1
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 4
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

				</div>
		</div>

		<!-- Slide 2 -->
		<div ng:show="slide2" class="spacedLarge">
				<div class="spacedLarge">

						<!-- Card component -->
						<div ng-click="slide1 = true; slide2 = false; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 2
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 1
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = true; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 2
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 2
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>


						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = true; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 2
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 3
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = false; slide4 = true" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 2
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 4
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

				</div>
		</div>

		<!-- Slide 3 -->
		<div ng:show="slide3" class="spacedLarge">
				<div class="spacedLarge">

						<!-- Card component -->
						<div ng-click="slide1 = true; slide2 = false; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 3
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 1
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = true; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 3
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 2
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>


						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = true; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 3
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 3
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = false; slide4 = true" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 3
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 4
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

				</div>
		</div>

		<!-- Slide 4 -->
		<div ng:show="slide4" class="spacedLarge">
				<div class="spacedLarge">

						<!-- Card component -->
						<div ng-click="slide1 = true; slide2 = false; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 4
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 1
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = true; slide3 = false; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 4
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 2
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>


						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = true; slide4 = false" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 4
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 3
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

						<!-- Card component -->
						<div ng-click="slide1 = false; slide2 = false; slide3 = false; slide4 = true" class="fluid positionRelative heightHalf widthHalf floatLeft">
							<div class="spacedSmall backgroundGridWhite border-radius">

								<div class="spacedLarge">
									<div class="fluid positionRelative heightFull widthFull floatLeft">
										<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

										<h2 class="fluid widthFull fontColorPrimary fontSizeFour floatLeft">
											Slide 4
										</h2>

										<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
											go to slide 4
										</h2>
										<hr>

										<ipadlineon class="fluid widthFull heightFull positionBottomCenter positionAbsolute"></ipadlineon>

									</div>
								</div>

								<span class="scorllDownTab mini">
									<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
								</span>

							</div>
						</div>

				</div>
		</div>

	</div>

		<!-- Responsive -->
	<div class="fluid rightSlide heightFull widthHalf floatLeft">
		<div class="spacedLarge">
			<div class="spacedLarge">

				<div class="fluid heightHalf widthFull floatLeft">

					<h2 class="fluid widthFull fontColorThird fontSizeTwo text-align-center floatLeft">
						From mobile apps to backend data
					</h2>

					<h2 class="fluid widthFull fontColorThird text-shadow fontSizeFive text-align-center floatLeft">
						Graphic
					</h2>

					<hr>
					
					<h2 class="fluid widthFull fontColorOpacityBlue fontSizeOne text-align-center floatLeft">
						From mobile apps to backend data
					</h2>

					<hr>

					<ul class="sectionList mini fluid widthFull floatLeft">
						<li>UI/UX</li>
						<li>Design</li>
						<li>Wireframes</li>
						<li>Icons</li>
						<li>Wireframes</li>
					</ul>

				</div>

				<div class="fluid heightHalf widthHalf floatLeft">
					<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

					<h2 class="fluid widthFull fontColorThird fontSizeOne text-align-center floatLeft">
						What can we do
					</h2>
					<hr>
					<h2 class="fluid widthFull fontColorThird text-shadow fontSizeFour text-align-center floatLeft">
						Web apps
					</h2>
					<hr>

					<h2 class="fluid widthFull fontColorThird text-shadow fontSizeTwo text-align-center floatLeft">
						What can we do
					</h2>
					<hr>


					<ul class="sectionList fluid widthFull floatLeft">
						<li class="centered">Featured</li>
					</ul>

				</div>

				<div class="fluid heightHalf widthHalf floatLeft">
						<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>

						<h2 class="fluid widthFull fontColorThird fontSizeOne text-align-center floatLeft">
							What can we do
						</h2>
						<hr>

						<h2 class="fluid widthFull fontColorThird text-shadow fontSizeFour text-align-center floatLeft">
							Web apps
						</h2>
						<hr>

						<h2 class="fluid widthFull fontColorThird text-shadow fontSizeTwo text-align-center floatLeft">
							What can we do
						</h2>
						<hr>

						<ul class="sectionList fluid widthFull floatLeft">
							<li class="centered">Featured</li>
						</ul>

						<hr>
				</div>

			</div>
		</div>
	</div>

</div>