<ul ng:init="fixedbackgroundone = true; listholdergrid = true;" class="positionRelative floatLeft widthFull heightFull easing text-align-center zindexFive overflowy">
   
   <!-- fixed background -->
   <span ng:show="fixedbackgroundone" class="
      positionFixed
      positionCenter
      heightFullFlex
      widthFullFlex
      overflowhidden floatLeft" style="background-image: url('/photos/team.jpg');
      background-size: cover;">
      <!-- layer -->
      <div class="
         zindexOne positionAbsolute positionCenter heightFullFlex widthFullFlex">
      </div>
      <!-- washout background -->
      <span class="positionAbsolute positionCenter opacity095
         backgroundColorFour widthFullFlex heightFullFlex">
      </span>
   </span>
   <span
      ng:class="{
      'widthFullFlex' : !componentMenu,
      'widthThreeQuarterFlex' : componentMenu
      }"
      class="positionRelative heightThreeQuarterFlex floatRight">

      <span class="
         backgroundColorOne
         overflowhidden
         positionAbsolute positionBottom widthFullFlex heightFullFlex">
      </span>
      <span class="
         ColorTwoToClearGradient
         overflowhidden
         positionAbsolute positionBottom widthFullFlex heightFullFlex">
      </span>
      <span
         class="positionRelative widthFullFlex heightFullFlex floatLeft easing">
         <span class="
            WhiteToClearGradient easing
            overflowhidden
            positionAbsolute positionBottom widthFullFlex heightFullFlex">
         </span>
         <!-- washout background -->
         <span class="positionAbsolute positionCenter
            ColorOneRightClearGradient widthFullFlex heightFullFlex">
         </span>
         <span 
            class="opacity01 spacedHuge backgroundGridColorWhite border-radius1 positionAbsolute positionCenter easing">
         </span>

            <span class="widthFullFlex positionRelative marginauto floatLeft text-align-left">

                  <imacone class="positionAbsolute positionBottomLeft
                  overflowhidden widthHalfFlex heightHalfFlex"></imacone>

                  <span class="spacedLarge positionRelative floatLeft easing">

                     <span class="widthFullFlex heightFifth positionRelative marginauto floatLeft text-align-left">

                     </span>

                     <h3 class="floatLeft centerdiv widthFullFlex positionRelative lineHeightTwenty fontSizeTwenty text-align-left fontColorTwo zindexOne">

                        <p>
                           
                           <span class="positionRelative floatLeft text-shadow01Dark">

                              <b class="floatLeft fontColorThree text-shadow1Two zindexFive positionRelative">All <span class="">Videos</span> 

                              <span class="marginTwoFiveLeft floatRight
                                 positionRelative zindexOne widthTenvh heightQuarter"><img src="./svg/arrow-down.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex">
                                 <img src="./svg/one/close.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex"></span>

                                 </b>

                              <span class="positionAbsolute positionOverFiveTopRightOutro fontColorWhite fontSizeTwoFive lineHeightTwoFive floatLeft">
                              <b class="fontColorOffWhite">Our Recorded</b>

                              <span class="floatLeft zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight">
                                 <img src="./svg/close.svg" class="widthFullFlex heightFullFlex">
                              </span>
                              History &
                               <span class="font-family-snippet"> Talent</span> </span>

                              <span class="positionAbsolute positionOverTenBottomLeftOutro fontColorWhite fontSizeTwoFive lineHeightFour floatLeft">

                                 <span ng:click="brandtab1 = !brandtab1" class="marginTwoFiveLeft floatRight 
                                 positionBeforeIcon
                                 positionAbsolute zindexOne widthTwoFivevh heightTwoFive"><img ng:show="!brandtab1" src="./svg/arrow-down.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex">
                                 <img ng:show="brandtab1" src="./svg/one/close.svg" class="positionCenter positionAbsolute widthHalfFlex heightHalfFlex"></span>

                                 <span class="">

                                 Available for
                                 <b class="fontColorTwo backgroundGridColorWhite paddingTwoFive border-radius1 ">Full-Time & Contract </b>

                                 </span></span>

                           </span>
                        </p>

                     </h3>

                  </span>

            </span>


            <h4 class="positionAbsolute
               positionLeft widthQuarterFlex centerdiv lineHeightFifteen fontSizeFifteen text-align-left fontColorOne">
               <span class="floatLeft positionRelative opacity025">
               <b>.01</b>
               </span>
            </h4>
   

            <span class="animated enterUp positionBottomRight positionAbsolute widthHalfFlex heightThreeQuarterFlex">
               <manatdesk ng:show="startAnimation" class="opacity05 animated enterUpBounce delay05 positionAbsolute positionBottom heightFullFlex "></manatdesk>
            </span>

            <span class="positionAbsolute positionBottomLeft widthHalfFlex heightTenFlex">
                  <hr class="vertline marginauto positionAbsolute positionBottom animated growvert backgroundGridColorWhite">
            </span>

      </span>

      <ul class="zindexOne positionAbsolute positionOverBottomLeft widthQuarterFlex floatLeft easing zindexFive">
      <li ng:click="learnmore = !learnmore" class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFive paddingTwoFive easing">
         <span class="textOnHoverSwitch paddingTwoFive positionRelative bordered-Six box-shadowSix box-shadowSixLeaveOnHover backgroundColorFive centerdiv fontSizeTwoFive fontColorWhite fontColorOneOnHover lineHeightFive easing">
         Hire Us
         <span class="bordered-Six box-shadowSix beforeArrow margintwofive beforetext backgroundColorOne fontSizeTwoFive fontColorFive fontColorFiveOnHover lineHeightFive easing">before</span>
         
         <span class="marginTwoFiveLeft floatRight zindexOne positionRelative widthTwoFive heightFive"><img src="./svg/arrow-right.svg" class="widthFullFlex heightFullFlex"></span>
         </span>
      </li>
   </ul>

   </span>

   <span
      ng:class="{
      'widthFullFlex' : !componentMenu,
      'widthThreeQuarterFlex' : componentMenu
      }"
      class="positionRelative heightThreeQuarterFlex floatRight zindexOne">
      

      <hr class="horline marginauto positionAbsolute positionBottomLeft animated growhor ColorOneLeftClearGradient">
      <!-- video component 1 -->
      <ul ng-repeat="post in data | filter:filters | limitTo:1:0" class="positionRelative widthHalfFlex heightFullFlex backgroundteam floatLeft easing">
         <span class="
            positionAbsolute positionCenter opacity095
            backgroundColorWhite widthFullFlex heightFullFlex">
         </span>
         <span ng:click="postpreview = !postpreview; postinationToggle(post.type)" class="showOnHoverSwitch
            widthFullFlex heightFullFlex
            positionRelative floatLeft easing">
            <span class="
               spacedLarge overflowhidden box-shadowFiveStraight
               positionRelative floatLeft easing">
               <span class="
                  bordered-TwoSmall
                  spacedBorderSmall
                  centerdiv
                  backgroundColorTwo
                  border-radius1
                  overflowhidden
                  positionAbsolute
                  positionCenter floatLeft easing">
                  <!-- showOnHover // background -->
                  <span class="showOnHover positionAbsolute positionCenter
                     backgroundColorWhite widthFullFlex heightFullFlex">

                        <span style="
                           background-image: url('/thumbs/{{post.photo}}');
                           background-size: cover;
                           background-repeat: no-repeat;"

                          class="
                           opacity05
                           border-radius1 overflowhidden
                           positionAbsolute positionCenter
                            widthFullFlex heightFullFlex">
                        </span>
                     
                     <span class="widthFullFlex floatLeft positionAbsolute positionCenter">

                              <li ng:click="getstarted = !getstarted; hirestart = true;" class="centerdiv marginauto text-align-center positionAbsolute positionCenter paddingTwoFive zindexFive easing">
                                             <span class="centerdiv textOnHoverSwitch positionRelative buttonbox-shadowOne border-radius1 backgroundColorOneThree backgroundColorTwoOnHover centerdiv fontSizeTwo fontColorWhite fontColorFiveOnHover lineHeightFive easing">

                                                <span class="positionAbsolute
                                                   positionBeforeIconNotice
                                                   zindexOne
                                                   border-radius-circle
                                                   heightTwoFive
                                                   widthTwoFivevh
                                                   backgroundColorWhite
                                                   box-shadowFiveStraight lineHeightTwoFive fontSizeOneFive 
                                                   text-align-center fontColorOne">
                                                   <span class="centerdiv positionRelative text-align-center">
                                                   <b>4</b>
                                                   </span>
                                                </span>

                                                <span class="positionRelative paddingTwoFive floatLeft">

                                                   <span class="
                                                   font-family-snippet
                                                   positionRelative marginTwoFiveRight
                                                   fontSizeTwo fontColorWhite fontColorFiveOnHover lineHeightFive easing">
                                                      Watch
                                                   </span>

                                                   <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthFivevh heightFive"><img class="widthHalfFlex heightHalfFlex positionAbsolute positionCenter" src="./svg/white/close.svg"></span>

                                                </span>

                                             </span>
                              </li>

                           </span>

                  </span>
                  <!-- hideOnHover // background -->
                  <span class="hideOnHover positionAbsolute positionCenter
                     backgroundColorWhite widthFullFlex heightFullFlex">
                     <ul class="positionRelative widthFullFlex heightFullFlex floatLeft zindexOne easing">
                        <h4 class="font-family-snippet positionAbsolute
                           positionTopRight heightTenFlex lineHeightTen fontSizeTen text-align-right fontColorFive">
                           <span class="divcenter positionRelative opacity01">
                           <b>Latest</b>
                           </span>
                        </h4>

                        <span class= "zindexOne positionAbsolute positionCenter widthFive heightFive"><img src="./svg/play.svg" class="widthFullFlex heightFullFlex"></span>
                        <!-- Filler -->
                        <span class="positionRelative widthFullFlex floatLeft widthFullFlex heightTenFlex">
                        </span><br>
                        <!-- text here-->
                        <span class="positionAbsolute positionBottom widthFullFlex floatLeft
                           ">
                           <span class="
                              spacedSmall overflowhidden
                              positionRelative floatLeft easing">
                              <span class= "zindexOne positionRelative widthFullFlex heightFive">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatLeft">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatLeft">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatLeft">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatLeft">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatLeft">
                              </span>
                              <hr>
                              <h3 class="widthFullFlex floatLeft positionRelative lineHeighFive fontSizeThree text-align-left fontColorOne text-shadow025OffWhite zindexOne"><b>{{post.authorfull}}</b></h3>
                              <span class="
                                 font-family-snippet
                                 widthFullFlex positionRelative
                                 floatLeft lineHeightFive fontSizeTwo text-align-left fontColorThree text-shadow01OffWhite easing">
                              <b>
                              <span class="">{{post.meta.views}} </span>

                                    <span class=" fontColorSix"> | </span>

                                    <span class=" fontColorSix">

                                    <img src="./svg/arrow-up.svg" class="widthTwoFivevh heightTwoFiveFlex">

                                    {{post.meta.likes}}</span>

                                    <span class=" fontColorSeven">

                                    <img src="./svg/arrow-down.svg" class="widthTwoFivevh heightTwoFiveFlex">

                                    {{post.meta.hates}}</span>

                              </b>
                              </span>
                              <h3 class="widthFullFlex floatLeft positionRelative lineHeightSevenFive fontSizeFive text-align-left fontColorFour text-shadow05OffWhite zindexOne"><b>{{post.title}}</b></h3>
                           </span>
                        </span>
                     </ul>
                     <span style="
                              background-image: url('/thumbs/{{post.photo}}');
                              background-size: cover;
                              background-repeat: no-repeat;"
                              class="
                        opacity05
                        positionAbsolute positionCenter widthFullFlex heightFullFlex">
                     </span>
                     <span class="
                        whiteToClearGradient easing
                        positionAbsolute positionCenter widthFullFlex heightFullFlex">
                     </span>

                  </span>
               </span>
            </span>

            <ul>
               <li ng-repeat="posterinfo in posttype | limitTo:1:postination.count">
                  <ng-include src="posterinfo.directive"></ng-include>
               </li>
            </ul>
      
         </span>


      </ul>
      <!-- horizontal list components -->
      <ul class="backgroundColorOne positionRelative widthHalfFlex heightFullFlex floatLeft easing">
         <span class="
            spacedMid
            positionRelative floatLeft easing">
            <!-- video component 2 -->
            <ul  ng-repeat="post in data | filter:filters | limitTo:4:1" class="positionRelative widthHalfFlex heightHalfFlex floatLeft easing">
               <span ng:click="postpreview = !postpreview; postinationToggle(post.type)" class="showOnHoverSwitch
                  widthFullFlex heightFullFlex
                  positionRelative floatLeft easing">
                  <span class="
                     spacedSmall border-radius1 buttonbox-shadowDark backgroundColorTwo
                     positionRelative floatLeft easing">

                        <h4 class="font-family-snippet positionAbsolute
                        positionOverFiveTopLeftIndex
                        zindexOne
                        border-radius-circle
                        heightFive
                        widthFivevh
                        backgroundColorOneThree lineHeightFive fontSizeTwoFive 
                        text-align-center fontColorWhite">
                           <span class="centerdiv positionRelative text-align-center">
                              <b class="ng-binding">{{$index + 1}}</b>
                           </span>
                        </h4>

                     <span class="
                        spacedTiny
                        centerdiv
                        backgroundColorTwo
                        border-radius1
                        overflowhidden
                        positionAbsolute
                        positionCenter floatLeft easing">
                        <!-- showOnHover // background -->
                        <span class="showOnHover positionAbsolute positionCenter
                           border-radius1 overflowhidden
                           backgroundColorWhite widthFullFlex heightFullFlex">
                           
                           <span style="
                              background-image: url('/thumbs/{{post.photo}}');
                              background-size: cover;
                              background-repeat: no-repeat;"

                             class="
                              opacity05
                              border-radius1 overflowhidden
                              positionAbsolute positionCenter
                               widthFullFlex heightFullFlex">
                           </span>
                           
                           <span class="widthFullFlex floatLeft positionAbsolute positionCenter">

                              <li ng:click="getstarted = !getstarted; hirestart = true;" class="centerdiv marginauto text-align-center positionAbsolute positionCenter paddingTwoFive zindexFive easing">
                                             <span class="centerdiv textOnHoverSwitch positionRelative buttonbox-shadowOne border-radius1 backgroundColorOneThree backgroundColorTwoOnHover centerdiv fontSizeTwo fontColorWhite fontColorFiveOnHover lineHeightFive easing">

                                                <span class="positionAbsolute
                                                   positionBeforeIconNotice
                                                   zindexOne
                                                   border-radius-circle
                                                   heightTwoFive
                                                   widthTwoFivevh
                                                   backgroundColorWhite
                                                   box-shadowFiveStraight lineHeightTwoFive fontSizeOneFive 
                                                   text-align-center fontColorOne">
                                                   <span class="centerdiv positionRelative text-align-center">
                                                   <b>4</b>
                                                   </span>
                                                </span>

                                                <span class="positionRelative paddingTwoFive floatLeft">

                                                   <span class="
                                                   font-family-snippet
                                                   positionRelative marginTwoFiveRight
                                                   fontSizeTwo fontColorWhite fontColorFiveOnHover lineHeightFive easing">
                                                      Watch
                                                   </span>

                                                   <span class="floatLeft animated enterUpObject delay025 zindexOne positionRelative widthFivevh heightFive"><img class="widthHalfFlex heightHalfFlex positionAbsolute positionCenter" src="./svg/white/close.svg"></span>

                                                </span>

                                             </span>
                              </li>

                           </span>

                        </span>
                        <!-- hideOnHover // background -->
                        <span class="hideOnHover positionAbsolute positionCenter
                           border-radius1 overflowhidden
                           backgroundColorWhite widthFullFlex heightFullFlex">
                           <ul class="positionRelative widthFullFlex heightFullFlex floatLeft zindexOne easing">
                              <h4 class="font-family-snippet positionAbsolute
                                 positionTopRight heightTenFlex lineHeightTen fontSizeTen text-align-right fontColorFive">
                                 <span class="divcenter positionRelative opacity01">
                                 <b>{{$index + 1}}</b>
                                 </span>
                              </h4>

                              <span class= "zindexOne positionAbsolute positionTopRight widthFullFlex heightFive">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatRight">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatRight">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatRight">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatRight">
                              <img src="./svg/close.svg" class="widthTwoFivevh heightFullFlex marginTwoFiveRight floatRight">
                              </span>
                              <span class= "zindexOne positionAbsolute positionCenter widthFive heightFive"><img src="./svg/play.svg" class="widthFullFlex heightFullFlex"></span>
                              <!-- Filler -->
                              <span class="positionRelative widthFullFlex floatLeft widthFullFlex heightTenFlex">
                              </span><br>
                              <!-- text here-->
                              <span class="positionAbsolute positionBottom widthFullFlex floatLeft
                                 ">
                                 <span class="
                                    spacedSmall overflowhidden
                                    positionRelative floatLeft easing">
                                    
                                    <hr>
                                    <h3 class="widthFullFlex floatLeft positionRelative lineHeighFive fontSizeTwo text-align-left fontColorOne text-shadow025OffWhite zindexOne"><b>{{post.authorfull}}</b></h3>
                                    <span class="
                                       font-family-snippet
                                       widthFullFlex positionRelative
                                       floatLeft lineHeightFive fontSizeTwo text-align-left fontColorThree text-shadow01OffWhite easing">
                                    <b>
                                    <span class="">{{post.meta.views}}</span>

                                    <span class=" fontColorSix"> | </span>

                                    <span class=" fontColorSix">

                                    <img src="./svg/arrow-up.svg" class="widthTwoFivevh heightTwoFiveFlex">

                                    {{post.meta.likes}}</span>

                                    <span class=" fontColorSeven">

                                    <img src="./svg/arrow-down.svg" class="widthTwoFivevh heightTwoFiveFlex">

                                    {{post.meta.hates}}</span>

                                    </b>
                                    </span>
                                    <h3 class="widthFullFlex floatLeft positionRelative lineHeighFive fontSizeTwo text-align-left fontColorFour text-shadow05OffWhite zindexOne"><b>{{post.title}}</b></h3>
                                 </span>
                              </span>
                           </ul>
                           <span style="
                              background-image: url('/thumbs/{{post.photo}}');
                              background-size: cover;
                              background-repeat: no-repeat;"

                             class="
                              opacity05
                              border-radius1 overflowhidden
                              positionAbsolute positionCenter
                               widthFullFlex heightFullFlex">
                           </span>
                           <span class="
                              whiteToClearGradient easing
                              border-radius1 overflowhidden
                              positionAbsolute positionCenter widthFullFlex heightFullFlex">
                           </span>
                        </span>
                     </span>
                  </span>

                  <ul>
                     <li ng-repeat="posterinfo in posttype | limitTo:1:postination.count">
                        <ng-include src="posterinfo.directive"></ng-include>
                     </li>
                  </ul>

               </span>
            </ul>
         </span>
      </ul>

      </span>

      
   </span>
   
   <span
      ng:mouseenter="componentMenu = true"
      ng:mouseleave="componentMenu = false"
      ng:show="componentMenu == true"
      ng:class="{
      'widthQuarter' : componentMenu
      }"
      class="positionFixed positionLeft heightFull floatLeft backgroundGridColorWhite box-shadowSixStraight">
      <filtermenu></filtermenu>
   </span>
            
   <span
      ng:class="{
      'widthFullFlex' : !componentMenu,
      'widthThreeQuarterFlex' : componentMenu
      }"
      class="backgroundGridColorWhite positionRelative floatRight">
      <span class="backgroundColorWhite positionRelative widthFullFlex floatLeft">
      
         <ul class="floatLeft heightTen widthFullFlex backgroundGridColorOne positionRelative">
               
               <span class="textOnHoverSwitch  positionRelative floatLeft
                  widthFive heightTen" ng:click="componentMenu = !componentMenu">
               <img src="./svg/arrow-left.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
               
               <span class=" positionRelative floatRight
                  widthFive heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                  <span class=" positionRelative floatRight
                  widthFive heightTen" ng:click="categoryMenu = !categoryMenu"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

               <!-- dark show -->
               <span class="centerdiv text-align-center positionRelative heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative buttonbox-shadowSix border-radius1 backgroundColorFive backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                  all
                  <span class="floatLeft positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                  </span>
               </span>

               <span ng:show="navMenu" class=" zindexTen positionAbsolute positionTopRight floatRight
                  widthFive backgroundGridColorOne">
                     
                     <span class=" zindexTen positionRelative floatRight
                     widthFive heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                     <span class="textOnHoverSwitch  zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetproduct();">
                        <img src="./svg/five/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetnumber();"><img src="./svg/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetgrid();"><img src="./svg/arrow-up.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetlist();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetcard();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>
                     
                     
                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="listholderresetfull();"><img src="./svg/arrow-down.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                        <span class=" zindexTen positionRelative floatRight
                           widthFullFlex heightTen" ng:click="navMenu = !navMenu"><img src="./svg/four/close.svg" class="positionAbsolute positionCenter widthQuarterFlex heightQuarterFlex"></span>

                  </span>
            
         </ul>

         <!-- search input -->
         <span ng:show="categoryMenu" class="positionRelative widthFullFlex centerdiv easing  backgroundGridColorOffWhite overflowhidden">

            <!-- dark show -->
               <li ng:click="tagMenu = !tagMenu" class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft  positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic centerdiv easing ">


               <span ng-repeat="cats in meta | filter:cats.category = filters.category" class="text-align-center zindexTen positionRelative overflowhidden floatLeft easing">
               

                  <span ng-repeat="subs in cats.subcategories" class="centerdiv text-align-center zindexTen positionRelative marginTwoFiveTopBottomLeft paddingTwoFive floatLeft easing">
                     <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = '';"

                           ng:class="{
                        'backgroundColorThree box-shadowSixStraight border-radius' : filters.subcategory == subs.name
                        }"

                         class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{subs.name}}
                     <span class="floatLeft  positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>
                  </span>

               </span>

               
            </span>

         </span>

         <!-- search input -->
         <span ng:show="tagMenu" class="positionRelative heightTen widthFullFlex centerdiv easing  backgroundGridColorWhite">

            <!-- dark show -->
               <li class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft  positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic overflowhidden centerdiv easing ">

               <span ng-repeat="cats in meta | filter:cats.category = filters.category | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveBottomLeft floatLeft easing">
               
                  <span ng-repeat="subs in cats.subcategories | filter:subs.name = filters.subcategory | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex floatLeft easing">

                     <span ng-repeat="tag in subs.tags" class="centerdiv text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveTopBottomLeft floatLeft easing">
                        <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = tag.name;"

                           ng:class="{
                           'backgroundColorTwo box-shadowSixStraight border-radius' : filters.tag == tag.name
                           }"

                            class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{tag.name}}
                     <span class="floatLeft  positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>

                     </span>

                  </span>

               </span>

            </span>

         </span>

         <!-- search input -->
         <span class="positionRelative heightTen widthFullFlex centerdiv easing ">

            <span ng:click="refineMenu = !refineMenu" class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
               <span class="floatLeft  positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-down.svg" class="widthFullFlex heightFullFlex"></span>
            </span>

         <span class="positionRelative heightFullFlex widthStatic centerdiv easing ">
         <span class="positionRelative heightFullFlex widthHalfFlex floatLeft easing">
         <span class="spacedSmall floatLeft">
         <input placeholder="By Name" class="placeholderOne no-padding fontSizeThree lineHeightFive fontColorThree no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.$" name="">
         <span class=  "positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
         </span>
         </span>
         <span class="positionRelative heightFullFlex widthHalfFlex floatLeft easing">
         <span class="spacedSmall floatLeft">
         <input placeholder="Search By Title" class="placeholderThree no-padding fontSizeThree lineHeightFive fontColorTwo no-border widthFullFlex heightFullFlex floatLeft" type="text" ng:model="filters.title" name="">
         <span class=  "positionAbsolute positionRight widthFive heightFive"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
         </span>
         </span>

         </span>
         </span>

         <!-- search input -->
         <span ng:show="refineMenu" class="positionRelative heightTen widthFullFlex centerdiv easing backgroundGridColorWhite">

            <!-- dark show -->
               <li class="centerdiv text-align-center positionAbsolute positionLeft heightFullFlex marginTwoFiveLeft floatLeft easing">
                  <span class="floatLeft zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/arrow-left.svg" class="widthFullFlex heightFullFlex"></span>
               </li>


            <span class="positionRelative heightFullFlex widthStatic centerdiv easing zindexOne">

               <span ng-repeat="cats in meta | filter:cats.category = filters.category | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveBottomLeft floatLeft easing">
               
                  <span ng-repeat="subs in cats.subcategories | filter:subs.name = filters.subcategory | limitTo:1:0" class="text-align-center zindexTen positionRelative heightFullFlex floatLeft easing">

                     <span ng-repeat="tag in subs.tags" class="centerdiv text-align-center zindexTen positionRelative heightFullFlex marginTwoFiveTopBottomLeft floatLeft easing">
                        <span ng:click="filters.category = cats.category;
                           filters.subcategory = subs.name;
                           filters.tag = tag.name;"

                           ng:class="{
                           'backgroundColorTwo box-shadowSixStraight border-radius' : filters.tag == tag.name
                           }"

                            class="centerdiv textOnHoverSwitch paddingTwoFive positionRelative border-radius1 backgroundColorWhite backgroundColorTwoOnHover centerdiv fontSizeTwoFive fontColorOne fontColorFiveOnHover lineHeightTwoFive easing">
                     {{tag.name}}
                     <span class="floatLeft zindexOne positionRelative widthTwoFive heightTwoFive marginSevenFiveRight"><img src="./svg/close.svg" class="widthFullFlex heightFullFlex"></span>
                     </span>

                     </span>

                  </span>

               </span>

            </span>

         </span>

         <listproject></listproject>

      </span>
   </span>
   </span>
</ul>