// Style Guide 
$primary: #fcd829;
$secondary: #0a717d;
$yellow: #fcd829;
$offyellow: #ffec8f;
$white: #ffffff;
$whitealt: #f8f8f8;
$offwhite: #fdfdfd;
$eggwhite: #fefbdf;
$orange: #f57e30;
$blue: #52bad5;

$opacityBlack: rgba(60, 60, 60, 0.98);
$opacityWhite: rgba(255, 255, 255, 0.9);
$highlightYellow: #ffec8f;

$colorPrimary: #fcd829;
.fontColorPrimary {
    color: $colorPrimary;
}

$colorSecondary: #f57e30;
.fontColorSecondary {
    color: $colorSecondary;
}

$colorThird: #5f7c7a;
.fontColorThird {
    color: $colorThird;
}

.backgroundColorThird {
    background: $colorThird;
}

$colorWhite: #ffffff;
.fontColorWhite {
    color: $colorWhite;
}

$colorOpacityGrey: rgba(220, 220, 220, 0.5);
.fontColorOpacityGrey {
    color: $colorOpacityGrey;
}

.backgroundOpacityGrey {
    background: $colorOpacityGrey;
}

$colorOpacityBlue: rgba(124,130,131,0.95);
.fontColorOpacityBlue {
    color: $colorOpacityBlue;
}

.backgroundOpacityBlue {
    background: $colorOpacityBlue;
}


$colorGrey: #f5f5f5;
.fontColorGrey {
    color: $colorGrey;
}

.backgroundGrey {
    background: $colorGrey;
}

.border-radius {
    border-radius: 1vh;
}

.box-shadow {
    box-shadow: 0 0 1vh rgba(131, 131, 131, 0.25);
}

span.textGrey {
    color: #ccc;
    text-shadow: 0vh 0.25vh 0.25vh rgba(191, 107, 62, 0.25);
}

.opacity1 {
    opacity: .1;
}

.opacity5 {
    opacity: .5;
}

body {
    background: $yellow;
}

.overflowHidden {
    overflow: hidden;
}

.backgroundGridSecondary {
    background: $secondary url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}


.backgroundWhite {
    background: $white;
}

#bg-video {
    min-width: 100vw;
    min-height: 100vh;
}

.backgroundTeam {
    background: url("/svg/team.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.backgroundOnHoverTeam:hover {
    background: url("/svg/team.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    span.textGrey {
        color: #fff;
    }
}

.backgroundGridWhite {
    background: $white url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.backgroundGridOffWhite {
    background: $offwhite url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.backgroundGridOrange {
    background: $orange url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.backgroundGridYellow {
    background: $yellow url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.backgroundAuthor {
    background: url("/svg/icon.png");
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: cover;
}

.backgroundGrid {
    background: url("/svg/grid.svg");
    background-repeat: repeat;
    background-position: 50% 0;
}

.backgroundYellowGradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd829+0,fbab2b+100 */
        background: rgb(252,216,41); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(252,216,41,1) 0%, rgba(251,171,43,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(252,216,41,1) 0%,rgba(251,171,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(252,216,41,1) 0%,rgba(251,171,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd829', endColorstr='#fbab2b',GradientType=1 ); /* IE6-9 */
}
