.module {

	.anchorMenu {
		padding: 10vh 0;
	    height: 80vh;
	    width: 20vh;
	    /* background: #000; */
	    border-right: 2px solid #fcd829;
	}

	.logoHolder {
	    top: 20vh;
	    left: 0;
	    right: 0;
	    width: 50vw;
	    height: 10vh;
	    max-width: 1000px;

	    p.leftText {
		    position: absolute;
		    line-height: 7.5vh;
		    width: 10vw;
		    top: 0vh;
		    left: -10vw;
		    text-align: center;
		    float: left;

		    span {
		    	width:100%;
		    	float: left;
		    }
	    }

	    p.leftText:hover {
		    top: -2.5vh;
	    }

	    p.rightText {
		    position: absolute;
		    line-height: 7.5vh;
		    width: 10vw;
		    top: 0vh;
		    right: -10vw;
		    text-align: center;
		    float: left;

		    span {
		    	width:100%;
		    	float: right;
		    }
	    }

	    p.rightText:hover {
		    top: -2.5vh;
	    }

	    p.leftText2 {
		    position: absolute;
		    line-height: 7.5vh;
		    width: 10vw;
		    left: -18.75vw;
		    top: 12.5vh;
		    text-align: center;
		    float: left;
		    opacity: .25%;

		    span {
		    	width:100%;
		    	float: left;
		    }
	    }

	    p.leftText2:hover {
		    top: 10vh;
	    }

	    p.rightText2 {
		    position: absolute;
		    line-height: 7.5vh;
		    width: 10vw;
		    right: -18.75vw;
		    top: 12.5vh;
		    text-align: center;
		    float: left;
		    opacity: .25%;

		    span {
		    	width:100%;
		    	float: right;
		    }
	    }

	    p.rightText2:hover {
		    top: 10vh;
	    }
	}

	.logoHolder.positionFixed {
		z-index: 100;
	}

	.buttonHolder.positionFixed {
		z-index: 100;
	}

	.infoHolder {
	    width: 100%;
	    max-width: 1000px;
    	margin: 0 0 2.5vh;
	}

	.buttonHolder {
	    top: 30vh;
	    width: 37.5vw;
	    height: 20vh;
	    max-width: 1000px;
	}

    .buttonLink {
		position: relative;
		top: 0;
		z-index: 1;
		padding: 0vh;
	    margin: 0 1.25vw;
	    line-height: 5vh;
	    width: 5vh;
		border-radius: 1vh;
		font-weight: 700;
		text-align: center;

    }

    .button {
		position: relative;
		top: 0;
		z-index: 1;
		padding: 0vh;
	    margin: 0 1.25vw;
	    line-height: 5vh;
	    width: 10vw;
		border-radius: 1vh;
		font-weight: 700;
	    color: $white;
		background: $yellow;
		text-align: center;

			p {

				text-shadow: 0vh 0.25vh 0.25vh rgba(191, 107, 62, 0.25);
				color: #ffffff;
			    background: #fcd829;
			    z-index: 1;
				line-height: 5vh;
				width: 10vw;
			    float: left;
			    line-height: 5vh;
			    border-radius: 1vh;
			}

    }

	.button:after {
		-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
		transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
		position: absolute;
		z-index: -1;
		top: 1vh;
		left: 0%;
		width: 100%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd829+0,fbab2b+100 */
		background: rgb(252,216,41); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(252,216,41,1) 0%, rgba(251,171,43,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(252,216,41,1) 0%,rgba(251,171,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(252,216,41,1) 0%,rgba(251,171,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd829', endColorstr='#fbab2b',GradientType=1 ); /* IE6-9 */
		border-radius: 1vh;
		content: '';
	}

    .button:hover {
    	top: 1vh;
    }

    .button:hover:after {
    	top: 0vh;
    }
}

.featButton.mini {
	margin: 0 .5vh;

	p.featButtonText.mini {
	    padding: 0 .5vw
	}
}

.featButton.mini.first {
	margin:0 .5vh 0 0;
}

.featButton.mini.last {
	margin: 0 0 0 .5vh;
}

.featButton.mix {
	background: none;

	p.featButtonText {
	    background: $colorOpacityGrey;
	    color: $colorOpacityBlue;
	}
}
.featButton.mix:after {
	display: none;
}

.featButton.blue {
	background: none;

	p.featButtonText {
	    background: $colorOpacityGrey;
	    color: $colorOpacityBlue;
	}
}

.featButton.dark {
	background: none;

	p.featButtonText {
	    background: $colorOpacityBlue;
	    color: $colorOpacityGrey;
	}
}

.featButton.grey {
	background: none;

	p.featButtonText {
	    background: $colorOpacityBlue;
	    color: $colorWhite;
	}
}

.featButton.Mid {
	position: absolute;
    top: auto;
    bottom: 2.5vh;
    left: 0;
    right: 0;
    padding: 0vh;
    margin: auto;
    line-height: 5vh;
    height: 5vh;
    width: 2.5vw;
    font-weight: 700;
    background: $colorOpacityGrey;
    color: $colorOpacityBlue;
    /* background: none; */
    text-align: center;

    	p.featButtonText {
		    text-shadow: rgba(255, 255, 255, 0.247059) 0vh 0.25vh 0.25vh;
		    color: $colorOpacityBlue;
		    z-index: 1;
		    padding: 0;
		    float: left;
		    line-height: 5vh;
		    background: none;
		    border-radius: 1vh;
		    width: 100%;
	}
}

.featButton.Mid:after {
	display: none;
}

.featButton.Mid:hover {
	top: auto;
}

.featButton {
	position: relative;
    top: 0;
    z-index: 1;
    padding: 0vh;
    margin: 0 1.25vw;
    line-height: 5vh;
    height: 5vh;
    border-radius: 1vh;
    font-weight: 700;
    color: #ffffff;
    background: #fcd829;
    text-align: center;

	p.featButtonText {
		position: relative;
	    text-shadow: rgba(191, 107, 62, 0.247059) 0vh 0.25vh 0.25vh;
	    color: rgb(255, 255, 255);
	    z-index: 1;
	    padding: 0 2.5vw;
	    float: left;
	    line-height: 5vh;
	    background: rgb(252, 216, 41);
	    border-radius: 1vh;
	}

	p.featBeforeText {
		position: absolute;
		top: 7.5vh;
	    text-shadow: rgba(191, 107, 62, 0.247059) 0vh 0.25vh 0.25vh;
	    text-align: center;
	    width: 100%;
		font-size: 2vh;
		line-height: 2.5vh;
		margin: auto;
	    z-index: 1;
	    padding: 0;
	    float: left;
	    line-height: 5vh;
	    background: none;
	    border-radius: 1vh;
	}


}

.featButton:after {
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    position: absolute;
    z-index: 0;
    top: 1vh;
    height: 5vh;
    left: 0%;
    width: 100%;
    /* height: 100%; */
    background: #fcd829;
    background: linear-gradient(to right, #fcd829 0%, #fbab2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd829', endColorstr='#fbab2b',GradientType=1 );
    border-radius: 1vh;
    content: '';
}

.featButton:hover {
	top: 1vh;
}

.featButton:hover:after {
	top: 0vh;
}

.authorBubble {
	height: 10vh;
	width: 10vh;
	border-radius: 1vh;
	margin: auto;
	overflow: hidden;
}

.authorBubble.reply {
	margin: 0 0 0 5%;
}

.authorBubbleInfo {
    height: 10vh;
    width: auto;
    border-radius: 1vh;
    padding: 1vh 0vh 0vh 1vh;
    overflow: hidden;
}

hr.line {
    display: block;
    margin: 2.5vh 0;
    visibility: visible;
    height: 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid $yellow;
}

hr.lineGrey {
    display: block;
    margin: 2.5vh 0;
    visibility: visible;
    height: 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid $colorOpacityGrey;
}

.menu .featButton {
    margin: 2.5vh 1.25vw;
}

.bubbleMenu {
	display: none;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 7.5vh;
	margin: auto;
	color: #ffffff;
	background: $yellow;
	width: 10vw;
	height: 10vh;
	border-radius: 1vh;
	box-shadow: 0 0 1vh rgba(131, 131, 131, 0.25);
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 10;
}

.button:hover, .buttonLink:hover, li:hover, .featButton:hover, .annotate:hover {
	.bubbleMenu {
		display: block;
	}
}

.bubbleMenu.below {
	top: 7.5vh;
}

.bubbleMenu.above {
	top: -7.5vh;
}

.number {
	padding: 0 1.25vw;
	margin: 0 1.25vw;
}

.indexStamp {
    position: absolute;
    top: -5vh;
    left: -5vh;
	border-radius: 50%;
	line-height: 5vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	float: left;
    margin: 0 1vh;
}

.indexStamp.mini {
    position: absolute;
    top: -2.5vh;
    left: -2.5vh;
	border-radius: 50%;
	line-height: 2.5vh;
	height: 2.5vh;
	width: 2.5vh;
	text-align: center;
	float: left;
    margin: 0 1vh;
}

.rightTab {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    border-radius: 0 1vh 1vh 0;
    right: -5vh;
    margin: auto;
    height: 5vh;
    width: 5vh;
    padding: 5vh 0;
}

.leftTab {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    border-radius: 1vh 0 0 1vh;
    left: -5vh;
    margin: auto;
    height: 5vh;
    width: 5vh;
    padding: 5vh 0;
}

.bottomTab {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    background: #fff;
    border-radius: 0 0 1vh 1vh;
    bottom: -5vh;
    margin: auto;
    height: 2.5vh;
    width: 5vw;
    padding: 5vh 0;
}

.rightTab.mini {
    height: 2.5vh;
    width: 2.5vh;
    padding: 5vh 0;
    right: -2.5vh;
}

.leftTab.mini {
    height: 2.5vh;
    width: 2.5vh;
    padding: 5vh 0;
    left: -2.5vh;
}

.bottomTab.mini {
    height: 2.5vh;
    width: 2.5vh;
    padding: 0 5vh;
    bottom: -2.5vh;
}

.annotate {
	border-radius: 50%;
	width: 5vh;
	height: 5vh;
	margin: auto;
	background: $yellow;
	z-index: 1;
}

.annotate.first {
	top: 10%;
	bottom: auto;
	left: 0;
	right: 50%;
}

.annotate.second {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.annotate.third {
	top: auto;
	bottom: 0;
	left: 50%;
	right: 0;
}

.annotate.fourth {
	top: 10%;
	bottom: auto;
	left: 50%;
	right: 0;
}

.annotate.fifth {
	top: auto;
	bottom: 0;
	left: 0;
	right: 50%;
}


.annotateMenu {
	display: block;
	position: absolute;
	overflow: hidden;
	left: -3.75vw;
	right: 0;
	top: -7.5vh;
	margin: auto;
	color: #ffffff;
	background: $yellow;
	width: 10vw;
	height: 5vh;
	border-radius: 1vh;
	box-shadow: 0 0 1vh rgba(131, 131, 131, 0.25);
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 10;
}

.annotate:hover .annotateMenu {
	top: -12.5vh;
}

.cardLeft {
    width: 40%;
    height: 75%;
    right: auto;
    position: absolute;
    left: 5%;
	bottom: -10%;
    margin: auto;
    opacity: .5;
}

.cardCenter {
	width: 40%;
	height: 75%;
	left: 0;
	right: 0;
	bottom: 0%;
    position: absolute;
    margin: auto;
}

.cardRight {
    width: 40%;
    height: 75%;
    right: 5%;
    position: absolute;
    left: auto;
	bottom: -10%;
    margin: auto;
    opacity: .5;
}

.cardBubble {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25vh;
    width: 75%;
    height: 50%;
    background: #fafafa;	
}

.scorllDownTab.tiny {
    position: absolute;
    top: auto;
    bottom: 3.75vh;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2.5vh;
    width: 2.5vh;
    padding: 2.5vh;
    background: $yellow;
    border-radius: 50%;
}

.scorllDownTab {
    position: absolute;
    top: auto;
    bottom: 0vh;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 5vh;
    width: 5vh;
    padding: 0 5vh;
}

.scorllSliderTab {
    position: absolute;
    top: auto;
    bottom: 5vh;
    background: #fafafa;
    left: 0;
    right: 0;
    margin: auto;
    height: 5vh;
    width: 50%;
    padding: 0 5vh;


    img {
    	height: 100%;
    	width: 20%;
    }
}


.dribbble {
	.photo {
		width: 100%;
		height: 75%;
		overflow: hidden;

		img {
			width: 100%;
		}

		.infoOverlay {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.info {
		height: 25%;
		width: 100%;
	}
}

.dribbbleListed {
	.dribbble {
		.photo {
			width: 25%;
			height: 100%;
			overflow: hidden;
			float: left;

			img {
				width: 100%;
			}
		}
		.info {
			height: 100%;
			width: 75%;
			float: right;
		}
	}
}

.dribbble {
	.positionPreview {
		.featurePhoto {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
			    width: 100%;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			}
		}
	}
}


.positionPreview {
	.featurePhoto {
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
		    width: 100%;
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		}
	}
}

#video {
	position: absolute;
	width: 100%;
	 height: 100%;
}