@import url(https://fonts.googleapis.com/css?family=Arvo:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic,600italic,300italic,300);


/* Font Families */

p, body {
	font-family: arvo;
}

br {
	line-height: 1vh;
}

/* Font Sizes (4.6875, 3.125, 2.34375, 1.5625, .78125 */

a, b, strong {
	font-weight: 800;
}

i {
    font-style: italic;
}

h1 {
	font-weight: 800;
}

h2 {
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.bordered-bottom {
    border-bottom: .5vh solid #fff;
    margin-bottom: 1vh;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.fontSizeOne {
	font-size: 2vh;
	line-height: 2.5vh;
	margin: auto;
}

.spanButtonOne {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 2.5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeTwo {
	font-size: 2.5vh;
	line-height: 2.5vh;
	margin: auto;
}

.spanButtonTwo {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 2.5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeThree {
	font-size: 2.5vh;
	line-height: 5vh;
	margin: auto;
}

.spanButtonThree {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeFour {
	font-size: 5vh;
	line-height: 5vh;
	margin: auto;
}

.spanButtonFour {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeFive {
	font-size: 5vh;
	line-height: 7.5vh;
	margin: auto;
}

.spanButtonFive {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 7.5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeSix {
	font-size: 7.5vh;
	line-height: 7.5vh;
	margin: auto;
}

.spanButtonSix {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 7.5vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeSeven {
	font-size: 7.5vh;
	line-height: 10vh;
	margin: auto;
}

.spanButtonSeven {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 10vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontSizeEight {
	font-size: 10vh;
	line-height: 10vh;
	margin: auto;
}

.spanButtonEight {
	position: relative;
	top: 0;
	z-index: 1;
	padding: 0 1.25vw;
    margin: 0 1.25vw;
    line-height: 10vh;
	border-radius: 1vh;
	font-weight: 700;
	text-align: center;
}

.fontRegularOne {
    font-size: 1em;
    letter-spacing: 0.025em;
    line-height: 1.5em;
    float: left;
}

.fontRegularTwo {
    font-size: .85em;
    letter-spacing: 0em;
    line-height: 1.25em;
    float: left;
}