// Absolute
@mixin positionAbsolute {
  position: absolute;
  margin: auto;
}

.positionAbsolute {
  @include positionAbsolute;
  margin: auto;
}

@mixin positionFixed {
  position: fixed;
  margin: auto;
}

.positionFixed {
  @include positionFixed;
  margin: auto;
}

@mixin positionRelative {
  position: relative;
  margin: auto;
}

.positionRelative {
  @include positionRelative;
}

// Bottom
@mixin positionBottom {
  bottom: 0;
}

.positionBottom {
  @include positionBottom;
}

@mixin positionBottomCenter {
	bottom: 0;
	left: 0;
	right: 0;
}

.positionBottomCenter {
  @include positionBottomCenter;
}

// Bread
@mixin positionBread {
  top: 10vh;
}

.positionBread {
  @include positionBread;
}

// BreadBottom
@mixin positionBreadBottom {
  bottom: 10vh;
}

.positionBreadBottom {
  @include positionBreadBottom;
}

// Top
@mixin positionTop {
  top: 0;
}

.positionTop {
  @include positionTop;
}

// Left
@mixin positionLeft {
  left: 0;
}

.positionLeft {
  @include positionLeft;
}

// Left Center
@mixin positionLeftCenter {
  left: 0;
  top:0;
  bottom:0;
}

.positionLeftCenter {
  @include positionLeftCenter;
}

// Top
@mixin positionTopCenter {
	top: 0;
	left: 0;
	right: 0;
}

.positionTopCenter {
  @include positionTopCenter;
}

// Center
@mixin positionCenter {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.positionCenter {
  @include positionCenter;
}

// CenterLeftOff
@mixin positionCenterLeftOut {
    top: 0;
    bottom: 0;
    left: 100%;
    right: auto;
}

.positionCenterLeftOut {
  @include positionCenterLeftOut;
}

// Center
@mixin positionCenterRightOut {
    top: 0;
    bottom: 0;
    left: -100%;
    right: auto;
}

.positionCenterRightOut {
  @include positionCenterRightOut;
}