<!-- Interaction Layers -->
<div class="module positionAbsolute positionCenter easing">
	<div class="backgroundGridYellow fluid heightHalfFlex widthFull">

		<!-- Background Layer -->
		<div class="module fluid heightFull widthFull positionAbsolute positionCenter easing">

			<ipadline class="svgMan animated infinite pulse"></ipadline>
			<ipadlinewhite class="svgLady animated infinite pulse"></ipadlinewhite >
			<ipadlineon class="svgLady animated infinite pulse"></ipadlineon >

		</div>

		<div class="spacedSmall fluid heightHalfFlex widthStatic floatLeft">

			<hr>
			<h2 class="fluid widthFull fontColorThird fontSizeSeven floatLeft">
				<span class="number floatLeft">All</span>
				<span class="number underline floatLeft">Projects</span>
				<span class="imageicon floatLeft">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-down.svg">
				</span>

				<div class="moduleButton floatRight">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-down.svg">
					</span>
					<a ng-click="paginationToggle();dribbbleListedSwitch = !dribbbleListedSwitch" class="fontColorWhite fontSizeThree floatLeft">Most recent</a>
				</div>
			</h2>

			<ul class="sortList">
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

			</ul>

		</div>

	</div>

		<!-- Responsive -->
	<div class="backgroundGridWhite fluid heightFullFlex widthFull resizeWidthFull resizeHeightFull floatLeft"
		 ng:class="{
				   'dribbbleListed' : dribbbleListedSwitch,
				   'dribbbleGrid' : dribbbleGridSwitch,
				   'moduleSideBarOut' : moduleSideBarSwitch
				}">
		<div class="moduleList fluid widthFull">
			<div class="moduleButton floatLeft">
				<span class="imageicon">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
				</span>
				<a ng-click="moduleSideBarSwitch = !moduleSideBarSwitch" class="fontColorSecondary fontSizeThree floatLeft">Menu</a>
			</div>

			<div class="moduleButton floatRight">
				<span class="imageicon">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
				</span>
				<a ng-click="paginationToggle();dribbbleListedSwitch = !dribbbleListedSwitch" class="fontColorSecondary fontSizeThree floatLeft">List</a>
			</div>

			<div class="moduleButton floatRight">
				<span class="imageicon">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
				</span>
				<a ng-click="paginationToggle();dribbbleListedSwitch = !dribbbleListedSwitch" class="fontColorSecondary fontSizeThree floatLeft">Grid</a>
			</div>

			<div class="moduleButton floatRight">
				<span class="imageicon">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
				</span>
				<a ng-click="paginationToggle();dribbbleListedSwitch = !dribbbleListedSwitch" class="fontColorSecondary fontSizeThree floatLeft">See All</a>
			</div>

			<ul class="sectionList fluid widthStatic">
				<li>Featured</li>
				<li>Latest</li>
				<li>Popular</li>
			</ul>
		</div>

		<div class="moduleSideBar backgroundGridSecondary floatRight easing">
			<div class="moduleButton floatLeft">
				<span class="imageicon">
					<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
				</span>
				<a ng-click="moduleSideBarSwitch = !moduleSideBarSwitch" class="fontColorSecondary fontSizeThree floatLeft">Menu</a>
			</div>
		</div>
		
		<postlist ng:show="popup4"></postlist>
	</div>
</div>