<!-- Interaction Layers -->
<div class="module positionAbsolute positionCenter easing">
	<!-- Responsive -->
	<div class="backgroundGridYellow fluid heightFull widthFull floatLeft">
		<div class="spacedLarge border-radius">
			<div class="fluid heightFull widthHalf floatLeft">
				<div class="spacedLarge backgroundGridWhite border-radius">
					<!-- Background Layer -->
					<div class="module backgroundGridOffWhite positionAbsolute positionCenter easing">
						<div class="cardBubble"></div>
						<lady class="svgLady"></lady>
					</div>

					<div class="spacedLarge border-radius overflowy">

						<h2 class="fluid widthFull fontColorPrimary fontSizeEight floatLeft text-align-center">
							Title Card
						</h2>
						<h2 class="fluid widthFull fontColorPrimary fontSizeFive floatLeft">
							Joe Rogan Experience - #821 & Fight Companion - Joey Diaz
						</h2>
						<h2 class="fluid widthFull fontColorPrimary fontSizeThree floatLeft">
							PowerfulJRE
						</h2>
						<h2 class="fluid widthFull fontColorPrimary fontSizeThree floatLeft">
							Subscribed
						</h2>

						<h2 class="fluid widthFull fontColorPrimary fontSizeTwo floatLeft">
							add to | Share | More
						</h2>

						<div class="buttonLink positionRelative floatLeft">
							<a class="fontColorThird fontSizeOne text-align-center floatRight"><img class="iconSvg positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">Go to users</a>
							<span class="bubbleMenu below">
								<div class="backgroundGridYellow fluid heightHalf widthFull">
									<span class="icon backgroundGridWhite floatLeft"></span>
										<p class="fontColorThird fontSizeThree floatLeft">Top</p>
								</div>
								<div class="backgroundGridWhite fluid heightHalf widthFull">
								</div>
							</span>
						</div>

						<div class="buttonLink positionRelative floatRight">
							<a class="fontColorThird fontSizeOne text-align-center floatRight"><img class="iconSvg positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">Go to users</a>
							<span class="bubbleMenu below">
								<div class="backgroundGridYellow fluid heightHalf widthFull">
									<span class="icon backgroundGridWhite floatLeft"></span>
										<p class="fontColorThird fontSizeThree floatLeft">Top</p>
								</div>
								<div class="backgroundGridWhite fluid heightHalf widthFull">
								</div>
							</span>
						</div>

						<p class="fontColorPrimary fontSizeThree floatLeft">Quite a bit of text to get the... "pallet" wet. of text to get the... "pallet" wet. of text to get the... "pallet" wet. of text to get the... "pallet" wet. of text to get the... "pallet" wet. of text to get the... "pallet" wet. of text to get the... "pallet" wet.</p>

					</div>

						<span class="leftTab">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
						</span>

						<span class="scorllSliderTab border-radius">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
						</span>

				</div>
			</div>
			<div class="fluid heightFull widthHalf floatLeft">
				<div class="spacedLarge backgroundGridWhite border-radius">
					<div class="spacedLarge border-radius overflowy">

							<!-- Card component -->
							<div class="backgroundGridYellow fluid positionRelative heightHalf widthHalf floatLeft">
								<div class="spacedSmall backgroundGridWhite border-radius box-shadow">
									<div class="spacedSmall">

										<h2 class="fluid widthFull fontColorPrimary fontSizeSix floatLeft text-align-center">
											Title Card
										</h2>

									</div>
								</div>
							</div>

							<!-- Card component -->
							<div class="backgroundGridYellow fluid positionRelative heightHalf widthHalf floatLeft">
								<div class="spacedSmall backgroundGridWhite border-radius box-shadow">
									<div class="spacedSmall">

										<h2 class="fluid widthFull fontColorPrimary fontSizeSix floatLeft text-align-center">
											Title Card
										</h2>

									</div>
								</div>
							</div>

							<!-- Card component -->
							<div class="backgroundGridYellow fluid positionRelative heightHalf widthFull floatLeft">
								<div class="spacedSmall backgroundGridWhite border-radius box-shadow">
									<div class="spacedSmall">

										<h2 class="fluid widthFull fontColorPrimary fontSizeEight floatLeft text-align-center">
											Title Card
										</h2>
										<h2 class="fluid widthFull fontColorPrimary fontSizeThree floatLeft text-align-center">
											Joe Rogan Experience
										</h2>
										<h2 class="fluid widthFull fontColorPrimary fontSizeTwo floatLeft text-align-center">
											#821 & Fight Companion <i>with Joey Diaz</i>
										</h2>

									</div>
								</div>
							</div>

							<div class="backgroundGridWhite fluid positionRelative heightHalfFlex widthFull floatLeft">

								<div class="spacedSmall">

									<p class="fluid widthFull fontColorThird fontRegularFour floatLeft">
										Donations = Rewards</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontRegularTwo floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontSizeTwo floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required.</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontSizeThree floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required.</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontSizeFour floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required.</p>

									<hr>

									<p class="fluid widthFull fontColorThird fontRegularTwo floatLeft">
										Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

								</div>

							</div>

					</div>

						<span class="rightTab">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-right.svg">
						</span>

						<span class="scorllDownTab">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
						</span>

				</div>
			</div>
		</div>
	</div>

		<!-- Responsive -->
	<div class="backgroundGridWhite fluid heightFullFlex widthFull resizeWidthFull resizeHeightFull floatLeft">
		
		<ul class="fluid widthStatic">
			<li class="fluid heightQuarterStatic widthQuarter floatLeft" ng-repeat="item in wordpress | limitTo:pagination.count | orderBy:item.ID | filter: filters">

				<!-- Post Info -->
				<div class="fluid widthFull heightFull">

					<div class="photo"></div>
	          		<h2 class="fontSizeOne fontColorOrange">{{item.title}} <span>$12</span></h2>
	          		<button ng-click="popPreview = true"></button>
	          			<p ng-show="popPreview">{{item.excerpt}}</p>
	          			<p>{{item.terms.category[0].name}}</p>
	          	</div>

				<!-- Post Preview -->
				<div ng-class="{'active' : popPreview}" class="popUp popPreview backgroundOpacityBlack easing">
					<div class="wrapperFullWidth wrapperFullHeight">
						<div class="module spaced rounded backgroundOrange">
			          		<button ng-click="popPreview = false">close</button>
								<p class="backgroundTitleHuge">{{item.excerpt}}</p>
			          	</div>
					</div>
				</div>
			</li>

			<li class="fluid heightQuarterStatic widthQuarter floatLeft" ng-click="paginationToggle()">	   <!-- Post Pagination -->
				<div class="fluid widthFull heightFull">
	          		<h2>More</h2>
	          	</div>
			</li>
		</ul>
	</div>

	<div class="backgroundGridWhite fluid heightHalf widthHalf floatLeft">
		<div class="spacedBottomBordered">
			<div class="spacedSmall backgroundTeam border-radius">
			<h5 class="fontColorPrimary fontSizeThree floatLeft">close</h5>
			<p class="fontColorPrimary fontSizeThree floatLeft">Quite a bit 
				<span class="indexStamp positionAbsolute positionCenter backgroundGridYellow fontColorWhite fontSizeOne">1</span>of text to get the... "pallet" wet.</p>
			</div>
		</div>
	</div>

	<div class="backgroundGridWhite fluid heightHalf widthHalf floatLeft">
		<div class="spacedLeftBordered spacedBottomBordered">
			<div class="spacedSmall backgroundTeam border-radius">
			<h5 class="fontColorPrimary fontSizeThree floatLeft">close</h5>
			<p class="fontColorPrimary fontSizeThree floatLeft">Quite a bit 
				<span class="indexStamp positionAbsolute positionCenter backgroundGridYellow fontColorWhite fontSizeOne">1</span>of text to get the... "pallet" wet.</p>
			</div>
		</div>
	</div>

	<div class="backgroundGridYellow fluid heightFullFlex widthFull resizeWidthFull resizeHeightFull floatLeft">

		<!-- Background Layer -->
		<div class="module fluid heightFull widthFull positionAbsolute positionCenter easing">

			<ipadline class="svgMan animated infinite pulse"></ipadline>
			<ipadlinewhite class="svgLady animated infinite pulse"></ipadlinewhite >
			<ipadlineon class="svgLady animated infinite pulse"></ipadlineon >

		</div>

		<div class="spacedSmall fluid widthStatic">
			<h2 class="fluid widthFull fontColorWhite fontSizeOne floatLeft"><span class="number">490</span>ProductsAvailable
				<span class="spanButtonOne floatRight backgroundGridWhite fontColorPrimary fontSizeOne">No</span>
				<span class="spanButtonOne floatRight backgroundGridWhite fontColorPrimary fontSizeOne">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeTwo floatLeft"><span class="number">490</span>ProductsAvailable
				<span class="spanButtonTwo floatRight backgroundGridWhite fontColorPrimary fontSizeTwo">No</span>
				<span class="spanButtonTwo floatRight backgroundGridWhite fontColorPrimary fontSizeTwo">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeThree floatLeft"><span class="number">490</span>ProductsAvailable
				<span class="spanButtonThree floatRight backgroundGridWhite fontColorPrimary fontSizeThree">No</span>
				<span class="spanButtonThree floatRight backgroundGridWhite fontColorPrimary fontSizeThree">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeFour floatLeft"><span class="number">490</span>Products
				<span class="spanButtonFour floatRight backgroundGridWhite fontColorPrimary fontSizeFour">No</span>
				<span class="spanButtonFour floatRight backgroundGridWhite fontColorPrimary fontSizeFour">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeFive floatLeft"><span class="number">490</span>Products
				<span class="spanButtonFive floatRight backgroundGridWhite fontColorPrimary fontSizeFive">No</span>
				<span class="spanButtonFive floatRight backgroundGridWhite fontColorPrimary fontSizeFive">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeSix floatLeft"><span class="number">490</span>ProductsAvailable
				<span class="spanButtonSix floatRight backgroundGridWhite fontColorPrimary fontSizeSix">No</span>
				<span class="spanButtonSix floatRight backgroundGridWhite fontColorPrimary fontSizeSix">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeSeven floatLeft"><span class="number">490</span>Products
				<span class="spanButtonSeven floatRight backgroundGridWhite fontColorPrimary fontSizeSeven">No</span>
				<span class="spanButtonSeven floatRight backgroundGridWhite fontColorPrimary fontSizeSeven">yes</span>
			</h2>
			<h2 class="fluid widthFull fontColorWhite fontSizeEight floatLeft"><span class="number">490</span>Products
				<span class="spanButtonEight floatRight backgroundGridWhite fontColorPrimary fontSizeSix">No</span>
				<span class="spanButtonEight floatRight backgroundGridWhite fontColorPrimary fontSizeSix">yes</span>
			</h2>

			<p class="fluid widthFull fontColorWhite fontRegularOne floatLeft"><b><span class="number">490</span> number</b> <i>lost control</i></p>
			<p class="fluid widthFull fontColorWhite fontRegularOne floatLeft"><span class="number">490</span>IP: Play.PocketPixels.net (Pixelmon Green) Website: PocketPixels.net</p>

			<p class="fluid widthFull fontColorWhite fontRegularOne floatLeft"><span class="number">490</span>
			EVERYTHING RIGHT NOW IS GOING TOWARDS HELPING ME MOVE OUT</p>

			<p class="fluid widthFull fontColorWhite fontRegularTwo floatLeft"><span class="number">490</span>
			Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

			<div class="backgroundGridYellow fluid positionRelative heightHalf widthHalf floatLeft">
				<div class="spacedSmall backgroundGridWhite border-radius box-shadow">
					<div class="spacedSmall">
						<p class="fluid widthFull fontColorPrimary fontRegularTwo floatLeft"><span class="number">490</span>
						Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

					</div>
				</div>
			</div>

			<div class="fluid positionRelative heightHalf widthHalf floatLeft">
				<div class="spacedSmall backgroundGridYellow border-radius box-shadow">
					<div class="spacedSmall">

						<h2 class="fluid widthFull fontColorWhite fontSizeOne floatLeft"><span class="number">490</span>Products
							<span class="spanButtonOne floatRight backgroundGridWhite fontColorPrimary fontSizeOne">No</span>
							<span class="spanButtonOne floatRight backgroundGridWhite fontColorPrimary fontSizeOne">yes</span>
						</h2>
						<h2 class="fluid widthFull fontColorWhite fontSizeTwo floatLeft"><span class="number">490</span>Products
							<span class="spanButtonTwo floatRight backgroundGridWhite fontColorPrimary fontSizeTwo">No</span>
							<span class="spanButtonTwo floatRight backgroundGridWhite fontColorPrimary fontSizeTwo">yes</span>
						</h2>
						<h2 class="fluid widthFull fontColorWhite fontSizeThree floatLeft"><span class="number">490</span>Products
							<span class="spanButtonThree floatRight backgroundGridWhite fontColorPrimary fontSizeThree">No</span>
							<span class="spanButtonThree floatRight backgroundGridWhite fontColorPrimary fontSizeThree">yes</span>
						</h2>

						<p class="fluid widthFull fontColorWhite fontRegularTwo floatLeft"><span class="number">490</span>
						colorleage is a ____.
						We are 3 dudes, 4 ladies a kid and a dog.

						owned and operated out of our home office (garage out back).

						All full stack of technial genius, an Illustrator, Back-End Developer & Designers, Former Co worker working toward the greatest goal: Making Dope Shit!

						Whether it be UI/ UX, creating cartoons for client / app previetations or developing entire brand infilstuctors, we got it.
						
						using "fluid design" maximizing user interaction by taking advantage of any and all capibilites of all platforms we design or develope software and content for</p>

					</div>
				</div>
			</div>

			<div class="fluid positionRelative heightHalf widthFull floatLeft">
				<div class="spacedSmall backgroundGridYellow border-radius box-shadow">
					<div class="spacedSmall">

						<span class="indexStamp positionAbsolute positionCenter backgroundColorThird fontColorWhite fontSizeOne">1</span></p>

						<h2 class="fluid widthFull fontColorWhite fontSizeSix floatLeft"><span class="backgroundColorThird number border-radius box-shadow">490</span>Products
							<span class="spanButtonSix floatRight backgroundGridWhite fontColorPrimary fontSizeSix">No</span>
							<span class="spanButtonSix floatRight backgroundGridWhite fontColorPrimary fontSizeSix">yes</span>
						</h2>
						<hr>
						<h2 class="fluid widthFull fontColorWhite fontSizeSeven floatLeft"><span class="number">490</span>Products
							<span class="spanButtonSeven floatRight backgroundGridWhite fontColorPrimary fontSizeSeven">No</span>
							<span class="spanButtonSeven floatRight backgroundGridWhite fontColorPrimary fontSizeSeven">yes</span>
						</h2>
						<h2 class="fluid widthFull fontColorWhite fontSizeEight floatLeft"><span class="number">490</span> App
							<span class="spanButtonEight floatRight backgroundGridWhite fontColorPrimary fontSizeSix">No</span>
							<span class="spanButtonEight floatRight backgroundGridWhite fontColorPrimary fontSizeSix">yes</span>
						</h2>
			
						<p class="fluid widthFull fontColorWhite fontRegularTwo floatLeft"><span class="number">490</span>
						Donations = Rewards :] haha but seriously donations help support my stream and help keep things running smoothly, but it is not required. If you want to donate then it is very appreciated but please only donate if you really want to and don't donate more than you can give up. All donations go towards giving you guys better content. :]</p>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>