<div class="menuBread positionAbsolute positionBread">
	<!-- Close Breadcrumb -->
	<!-- popup 1 -->
	<div ng-show="popup1" ng-click="popup1 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>

	<!-- popup 2 -->
	<div ng-show="popup2" ng-click="popup2 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>

	<!-- popup 3 -->
	<div ng-show="popup3" ng-click="popup3 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>

	<!-- left hide from popup 19, 20, 21, 22 left back & close -->
	<div ng-hide="popup19 || popup20 || popup21 || popup22" ng-click="popupclose();">

		<img class="button tiny positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
		<div class="button auto positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Home</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
		<div class="button tiny positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Close</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>
	</div>


	<!-- left popup 19, 20, 21, 22 left back & close -->
	<div ng-show="popup19 || popup20 || popup21 || popup22" ng-click="popupclose();">

		<img class="button tiny positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
		<div class="button tiny positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Story</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
		<div class="button tiny positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Close</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>
	</div>

	<!-- right popup 19, 20, 21, 22 left back & close -->
	<div class="floatRight" ng-show="popup19 || popup20 || popup21 || popup22" ng-click="popupclose();">

		<img class="button tiny positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
		<div class="button auto positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Close</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">

		<div class="button tiny positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Story</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button tiny positionRelative floatLeft" src="./svg/icons/yellow/arrow-right.svg">
	</div>

	<!-- hide right popup 19, 20, 21, 22 left back & close -->
	<div class="floatRight" ng-hide="popup19 || popup20 || popup21 || popup22" ng-click="popupclose();">

		<p class=" techText fontColorThird fontSizeOne text-align-center floatLeft">login</p>
		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
		<div class="button mini positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Close</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">

		<div class="button mini positionRelative floatLeft">
			<p class="fontColorThird fontSizeOne text-align-center">Home</p>
			<span class="bubbleMenu below">
				<div class="backgroundGridYellow fluid heightHalf widthFull">
					<span class="icon backgroundGridWhite floatLeft"></span>
						<p class="fontColorThird fontSizeThree floatLeft">Top</p>
				</div>
				<div class="backgroundGridWhite fluid heightHalf widthFull">
				</div>
			</span>
		</div>

		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-right.svg">
	</div>

</div>
<!-- Bottom Bread -->
<div class="menuBread positionAbsolute positionBreadBottom">

	<!-- popup 14 hide -->
	<div ng-hide="popup14" ng-click="popup14 = false">
		<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-up.svg">
		<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">Swicths?</h5>
	</div>

	<img class="button mini positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatRight">Switches</h5>


</div>