<div class="menuBread positionAbsolute positionBread">

	<img class="button positionRelative floatLeft" src="./svg/icons/yellow/arrow-left.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">Title</h5>

	<!-- Close Breadcrumb -->
	<!-- popup 1 -->
	<div ng-show="popup1" ng-click="popup1 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>

	<!-- popup 2 -->
	<div ng-show="popup2" ng-click="popup2 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>

	<!-- popup 3 -->
	<div ng-show="popup3" ng-click="popup3 = false">
	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">close</h5>
	</div>


	<div class="button mini positionRelative floatLeft">
		<p class="fontColorThird fontSizeOne text-align-center">Yt</p>
		<span class="bubbleMenu below">
			<div class="backgroundGridYellow fluid heightHalf widthFull">
				<span class="icon backgroundGridWhite floatLeft"></span>
					<p class="fontColorThird fontSizeThree floatLeft">Top</p>
			</div>
			<div class="backgroundGridWhite fluid heightHalf widthFull">
			</div>
		</span>
	</div>


	<img class="button mini positionRelative floatRight" src="./svg/icons/yellow/arrow-right.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatRight">Right</h5>

	<img class="button mini positionRelative floatRight" src="./svg/icons/yellow/arrow-plus.svg">

</div>

<!-- Bottom Bread -->
<div class="menuBread positionAbsolute positionBreadBottom">
	<img class="button mini positionRelative floatRight" src="./svg/icons/yellow/arrow-down.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatRight">Switches</h5>


	<img class="button mini positionRelative floatLeft" src="./svg/icons/yellow/arrow-up.svg">
	<h5 class="fontColorOpacityGrey fontSizeThree floatLeft">Swicths?</h5>

</div>