<ul class="fluid widthStatic">

			<ul class="categoryList">
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>
			</ul>


	<li class="dribbble fluid heightQuarterStatic widthQuarter floatLeft" ng-repeat="item in wordpress | limitTo:pagination.count | orderBy:item.ID | filter: filters">

		<div class="spacedTiny backgroundGridWhite box-shadow border-radius">

			<div class="spacedTiny backgroundWhite ">

				<!-- Post Info -->
				<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">

					<div class="photo">
						<img ng-src="{{item.featured_image.source}}">

						<div class="infoOverlay">
		          			<h2 class="fontRegularOne fontColorThird categoryBubble Yellow">{{item.terms.category[0].name}}</h2>
		          			<div class="social">
								<img class="iconSvg positionRelative floatLeft" src="./svg/icons/white/youtube.svg">
							</div>
		          		</div>

					</div>

					<div class="info">
	          			<h2 class="fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
		          		<h2 class="fontRegularOne fontColorThird">{{item.terms.category[0].name}}</h2>
		          		<h2 class="fontRegularOne fontColorThird">title</h2>
		          		<h2 class="fontRegularOne fontColorThird">author</h2>
		          		<h2 class="fontRegularOne fontColorThird">category</h2>
		          		<h2 class="fontRegularOne fontColorThird">date</h2>
		          		<h2 class="fontRegularOne fontColorThird">views</h2>
		          		<h2 class="fontRegularOne fontColorThird">price</h2>
		          		<h2 class="fontRegularOne fontColorThird">comments</h2>
		          		<h2 class="fontRegularOne fontColorThird">likes</h2>
		          		<h2 class="fontRegularOne fontColorThird">tags</h2>
		          		<h2 class="fontRegularOne fontColorThird">except</h2>
	          		</div>

	          	</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

	<li class="fluid heightQuarterStatic widthQuarter floatLeft" ng-click="paginationToggle();">	   <!-- Post Pagination -->

		<div class="spacedTiny backgroundGridYellow box-shadow border-radius">
			<div class="spacedSmall">
				<h2 class="fluid widthFull fontColorWhite fontSizeSix floatLeft">
					More
				</h2>
          	</div>
      	</div>

	</li>

</ul>

<hr>

<ul class="fluid widthStatic">
	<li class="ui8 fluid heightQuarterStatic widthQuarter floatLeft" ng-repeat="item in wordpress | limitTo:4 | orderBy:item.ID | filter: filters">




		<div class="spacedTiny">

			<div class="spacedTiny">

				<!-- Post Info -->
				<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">

					<h2 class="fontSizeOne fontColorThird">{{item.terms.category[0].name}}</h2>
					<hr>
					<div class="photo">
						<img ng-src="{{item.featured_image.source}}">

						<div class="infoOverlay backgroundOpacityWhiteGradient">
		          			<h2 class="fontRegularOne fontColorThird categoryBubble Yellow">{{item.terms.category[0].name}}</h2>
		          			<div class="social"></div>
		          		</div>


					</div>

					<div class="info">
	          			<h2 class="fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
		          		<h2 class="fontRegularOne fontColorThird">{{item.terms.category[0].name}}</h2>
		          		<h2 class="fontRegularOne fontColorThird">title</h2>
		          		<h2 class="fontRegularOne fontColorThird">author</h2>
		          		<h2 class="fontRegularOne fontColorThird">category</h2>
		          		<h2 class="fontRegularOne fontColorThird">date</h2>
		          		<h2 class="fontRegularOne fontColorThird">views</h2>
		          		<h2 class="fontRegularOne fontColorThird">price</h2>
		          		<h2 class="fontRegularOne fontColorThird">comments</h2>
		          		<h2 class="fontRegularOne fontColorThird">likes</h2>
		          		<h2 class="fontRegularOne fontColorThird">tags</h2>
		          		<h2 class="fontRegularOne fontColorThird">except</h2>
	          		</div>

	          	</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

</ul>

<hr>

<ul class="fluid widthStatic">
	<li class="carder fluid heightQuarterStatic widthQuarter floatLeft">




		<div class="spacedTiny">

			<div class="spacedTiny">

				<!-- Post Info -->
				<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">
					<div class="info">
	          			<h2 ng-repeat="item in wordpress | limitTo:5 | orderBy:item.ID | filter: filters" class="fluid widthFull fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
		          		
	          		</div>

	          	</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

</ul>

<hr>

<ul class="fluid widthStatic">
	<li class="muzli fluid heightQuarterStatic widthThird floatLeft" ng-repeat="item in wordpress | limitTo:3 | orderBy:item.ID | filter: filters">

		<div class="spacedTiny box-shadow border-radius">

			<!-- Post Info -->
			<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">
				<div class="photo Card">
					<img ng-src="{{item.featured_image.source}}">

					<div class="infoOverlay">
	          			<h2 class="fontRegularOne fontColorThird categoryBubble Yellow">{{item.terms.category[0].name}}</h2>
	          			<div class="social"></div>


	          			<h2>except</h2>
	          		</div>


				</div>

				<div class="info">
          			<h2 class="fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
	          		<h2 class="fontRegularOne fontColorThird">{{item.terms.category[0].name}}</h2>
	          		<h2 class="fontRegularOne fontColorThird">title</h2>
	          		<h2 class="fontRegularOne fontColorThird">author</h2>
	          		<h2 class="fontRegularOne fontColorThird">category</h2>
	          		<h2 class="fontRegularOne fontColorThird">date</h2>
	          		<h2 class="fontRegularOne fontColorThird">views</h2>
	          		<h2 class="fontRegularOne fontColorThird">price</h2>
	          		<h2 class="fontRegularOne fontColorThird">comments</h2>
	          		<h2 class="fontRegularOne fontColorThird">likes</h2>
	          		<h2 class="fontRegularOne fontColorThird">tags</h2>
	          		<h2 class="fontRegularOne fontColorThird">except</h2>
          		</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

</ul>

<hr>

<ul class="fluid widthStatic">
	<li class="tinder fluid heightHalfStatic widthThird floatLeft" ng-repeat="item in wordpress | limitTo:3 | orderBy:item.ID | filter: filters">

		<div class="spacedTiny box-shadow border-radius">

			<!-- Post Info -->
			<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">
				<div class="photo Full">
					<img ng-src="{{item.featured_image.source}}">

					<div class="infoOverlay">
	          			<h2 class="fontRegularOne fontColorThird categoryBubble Yellow">{{item.terms.category[0].name}}</h2>
	          			<div class="social"></div>


	          			<h2>except</h2>
	          		</div>


				</div>

				<div class="info">
          			<h2 class="fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
	          		<h2 class="fontRegularOne fontColorThird">{{item.terms.category[0].name}}</h2>
	          		<h2 class="fontRegularOne fontColorThird">title</h2>
	          		<h2 class="fontRegularOne fontColorThird">author</h2>
	          		<h2 class="fontRegularOne fontColorThird">category</h2>
	          		<h2 class="fontRegularOne fontColorThird">date</h2>
	          		<h2 class="fontRegularOne fontColorThird">views</h2>
	          		<h2 class="fontRegularOne fontColorThird">price</h2>
	          		<h2 class="fontRegularOne fontColorThird">comments</h2>
	          		<h2 class="fontRegularOne fontColorThird">likes</h2>
	          		<h2 class="fontRegularOne fontColorThird">tags</h2>
	          		<h2 class="fontRegularOne fontColorThird">except</h2>
          		</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

</ul>

<hr>

<ul class="fluid widthStatic">
	<li class="swipe fluid heightHalfStatic widthThird floatLeft" ng-repeat="item in wordpress | limitTo:3 | orderBy:item.ID | filter: filters">

		<div class="spacedTiny box-shadow border-radius">

			<!-- Post Info -->
			<div ng-click="popPreview = !popPreview" class="fluid widthFull heightFull">
				<div class="photo">
					<img ng-src="{{item.featured_image.source}}">

					<div class="infoOverlay">
	          			<h2 class="fontRegularOne fontColorThird categoryBubble Yellow">{{item.terms.category[0].name}}</h2>
	          			<div class="social"></div>


	          			<h2>except</h2>
	          		</div>


				</div>

				<div class="info">
          			<h2 class="fontRegularOne fontColorThird">{{item.title}} <span>$12</span></h2>
	          		<h2 class="fontRegularOne fontColorThird">{{item.terms.category[0].name}}</h2>
	          		<h2 class="fontRegularOne fontColorThird">title</h2>
	          		<h2 class="fontRegularOne fontColorThird">author</h2>
	          		<h2 class="fontRegularOne fontColorThird">category</h2>
	          		<h2 class="fontRegularOne fontColorThird">date</h2>
	          		<h2 class="fontRegularOne fontColorThird">views</h2>
	          		<h2 class="fontRegularOne fontColorThird">price</h2>
	          		<h2 class="fontRegularOne fontColorThird">comments</h2>
	          		<h2 class="fontRegularOne fontColorThird">likes</h2>
	          		<h2 class="fontRegularOne fontColorThird">tags</h2>
	          		<h2 class="fontRegularOne fontColorThird">except</h2>
          		</div>

          	</div>

      	</div>

      	<postpreviewpage></postpreviewpage>
	</li>

</ul>