<!-- Interaction Layers -->
<div class="module positionAbsolute positionCenter easing">
	<!-- Responsive -->
	<div class="backgroundGridYellow fluid heightFull widthFull floatLeft">
		<div class="spacedMid border-radius">


			<!-- 1 by 1 -->
			<div class="fluid heightQuarter widthFull floatLeft">
				<div class="spacedMid border-radius">
					<div class="fluid heightFull widthStatic">
						
						<h2 class="fluid widthFull fontColorWhite fontSizeEight floatLeft text-align-center">
	
							Our Team
						</h2>

						<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft text-align-center">
							of talent goof-balls
						</h2>
					</div>
				</div>
			</div>

			<ul class="sortList">
				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
				</li>

				<li class="fontColorPrimary fontSizeThree">
					<span class="imageicon">
						<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
					</span>
					<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
				</li>

			</ul>

			<hr>
			<hr>
			<hr>
			<hr>

			<!-- Size of card -->
			<ul class="fluid heightQuarter widthFull floatLeft">
				<li ng-repeat="mates in team | limitTo:4" class="fluid heightFull widthQuarter floatLeft">
					
					<div ng-click="memberPreview = !memberPreview" class="spacedSmall backgroundGridWhite border-radius">

						

						<img class="fluid positionAbsolute positionBottomCenter widthFull" src="./person/1.png">

						<div class="positionAbsolute positionBottomCenter backgroundOpacityWhiteGradient fluid heightQuarter widthFull floatLeft">
							<div class="spacedTiny">
								<h2 class="fluid widthFull fontColorThird fontSizeThree floatLeft text-align-left">
									{{mates.name}}
								</h2>

								<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>
							</div>
						</div>

					</div>


					<!-- Post Preview -->

					<!-- designer member -->
					<div class="wrapper positionFixed positionPopup backgroundGridYellow overflowy easing" ng-class="{'active' : memberPreview}">

						<memeberdetailspage ng-show="memberPreview"></memeberdetailspage>

					</div>


				</li>
			</ul>

			<!-- Size of card -->
			<ul class="fluid heightHalf widthQuarter floatLeft">
				<li ng-repeat="mates in team | limitTo:1" class="fluid heightFull widthFull floatLeft">
					
					<div ng-click="memberPreview = !memberPreview" class="spacedSmall backgroundGridWhite border-radius">

						

						<img class="fluid positionAbsolute positionBottomCenter widthFull" src="./person/1.png">

						<div class="positionAbsolute positionBottomCenter backgroundOpacityWhiteGradient fluid heightQuarter widthFull floatLeft">
							<div class="spacedTiny">
								<h2 class="fluid widthFull fontColorThird fontSizeSix floatLeft text-align-left">
									{{mates.name}}
								</h2>

								<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>
							</div>
						</div>

					</div>


					<!-- Post Preview -->

					<!-- designer member -->
					<div class="wrapper positionFixed positionPopup backgroundGridYellow overflowy easing" ng-class="{'active' : memberPreview}">

						<memeberdetailspage ng-show="memberPreview"></memeberdetailspage>

					</div>


				</li>
			</ul>

			<div class="fluid heightHalf widthHalf floatLeft">
				<hr>

				<h2 class="fluid widthFull fontColorWhite fontSizeEight floatLeft text-align-center">
					Our Team
				</h2>

				<h2 class="fluid widthFull fontColorThird fontSizeTwo floatLeft text-align-center">
					of talent goof-balls
				</h2>

				<hr>

				<ul class="sortList">
					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<a class="fontColorSecondary fontSizeThree floatLeft">Angular</a>
					</li>

					<li class="fontColorPrimary fontSizeThree">
						<span class="imageicon">
							<img class="positionRelative floatLeft" src="./svg/icons/yellow/arrow-close.svg">
						</span>
						<p class="fontColorSecondary fontSizeThree floatLeft">React</p>
					</li>

				</ul>
			</div>

			<!-- Size of card -->
			<ul class="fluid heightHalf widthQuarter floatLeft">
				<li ng-repeat="mates in team | limitTo:1" class="fluid heightFull widthFull floatLeft">
					
					<div ng-click="memberPreview = !memberPreview" class="spacedSmall backgroundGridWhite border-radius">

						<img class="fluid positionAbsolute positionBottomCenter widthFull" src="./person/1.png">

						<div class="positionAbsolute positionBottomCenter backgroundOpacityWhiteGradient fluid heightQuarter widthFull floatLeft">
							<div class="spacedTiny">


						

								<h2 class="fluid widthFull fontColorThird fontSizeSix floatLeft text-align-left">
									{{mates.name}}
								</h2>

								<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>
							</div>
						</div>

					</div>


					<!-- Post Preview -->

					<!-- designer member -->
					<div class="wrapper positionFixed positionPopup backgroundGridYellow overflowy easing" ng-class="{'active' : memberPreview}">

						<memeberdetailspage ng-show="memberPreview"></memeberdetailspage>

					</div>


				</li>
			</ul>

			<!-- Size of card -->
			<ul class="fluid heightHalf widthFull floatLeft">
				<li ng-repeat="mates in team" class="fluid heightFull widthQuarter floatLeft">
					
					<div ng-click="memberPreview = !memberPreview" class="spacedSmall backgroundGridWhite border-radius">

						<span class="rightTab mini">
							<img class="positionRelative floatRight" src="./svg/icons/yellow/arrow-right.svg">
						</span>

						

						<img class="fluid positionAbsolute positionBottomCenter widthFull" src="./person/1.png">

						<div class="positionAbsolute positionBottomCenter backgroundOpacityWhiteGradient fluid heightQuarter widthFull floatLeft">
							<div class="spacedTiny">
								<h2 class="fluid widthFull fontColorThird fontSizeFour text-shadow floatLeft text-align-left">
									{{mates.name}}
								</h2>

								<span class="indexStamp positionAbsolute positionCenter backgroundGridSecondary fontColorWhite fontSizeOne">1</span>
							</div>
						</div>

					</div>


					<!-- Post Preview -->

					<!-- designer member -->
					<div class="wrapper positionFixed positionPopup backgroundGridYellow overflowy easing" ng-class="{'active' : memberPreview}">

						<memeberdetailspage ng-show="memberPreview"></memeberdetailspage>

					</div>


				</li>
			</ul>

	</div>
</div>